.team-member {
    padding: 2%;
}

h6 {
    padding: 5%;
}

.member-image {
    width: 150px; 
    height: 150px; 
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto; 
}

.social-btn .bi {
    color: gray
}