/* src/components/Header/Header.css */
.header {
    background-color: #e6e6ff;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
}