

/* src/components/WordDiscussion/WordDiscussionPreview.css */

.upvote-downvote-container {
    position: relative;
    top: -60px; /* Adjust this value as needed */
    padding: 0px 0px 0px 80px;
}
/* Optional: Button styles */
.upvote-downvote-container button {
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.upvote-downvote-container button:hover {
    background-color: #f0f0f0;
}

.upvote-downvote-container button:active {
    transform: scale(0.9);
}